body{

direction: rtl;
font-family:Andalus, Times, serif; 
}

div nav{



}

.container div {

}
.row{
padding: 20px ;

font-family:"Times New Roman", Times, serif;
background-color: #ebebeb;
}
.row img{

max-height: 180px;

}

.row h3{
display: block;
margin auto;


}
.title{
text-align: center;
}
.row .view_or{
font-size: 18px;
line-height: 40px;
font-family: andlus,"Times New Roman", Times;




}